 .download-btn {
            background-color: #eb1c34;
            color: #fff;
            border: none;
            padding: 6px 12px;
            font-size: 0.85rem;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #eb1c34;
            }
          }