# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Angular CLI cache
/.angular

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# E2E test output
/e2e/*.js
/e2e/*.map

# OS
.DS_Store
Thumbs.db
