

<div class="main-content">

    <div class="container-fluid mt-4">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card card-profile" style=" margin-top: -35px; ">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img class="img" />
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title"></h4>
              <p class="card-description text-muted mb-1"></p>
              <p class="card-description">{{ profileForm.value.nom_complet }}</p>
      
              <p class="card-description"><strong>{{ profileForm.value.email }}</strong></p>
              <p class="card-description"><strong>{{ profileForm.value.telephone }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="container-fluid" style="margin-top: -20px;">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="card">
              <div class="card-header card-header-danger text-center">
                <h3 class="card-title font-weight-bold">Bienvenue dans votre espace donateur</h3>
                <p class="card-category">Gérez votre profil, et vous pouvez consulter vos historiques de paiement </p>
              </div>
              <div class="card-body text-center">
                <img src="/assets/img/uiblogo.png" alt="Logouib" class="img-fluid mb-4" style="max-height: 100px;" />
    
                <p class="lead">Que souhaitez-vous faire aujourd’hui ?</p>
    
                <div class="d-flex justify-content-center gap-4 mt-4 flex-wrap">
                  <a class="btn btn-danger btn-lg"  [routerLink]="['/dashboard-donator', 'modifier-profil']">
                    <i class="material-icons">person</i> Modifier mon profil
                  </a>
                  <a class="btn btn-outline-danger btn-lg" >
                    <i class="material-icons">content_paste</i>consulter historique
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    