<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center"> 

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" [src]="photoPreview || profileForm.value.photo || 'assets/img/default-avatar.png'" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ profileForm.value.nom_complet }}</h4>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control mt-2">
          </div>
        </div>
      </div>
      <div class="col-md-8 user-profile-container">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Modifier Profil Association</h4>
            <p class="card-category">Continue les informations de ton profil</p>
          </div>
          <div class="card-body">
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
              <div class="row">

                
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom complet" formControlName="nom_complet">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" formControlName="description_association">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telephone" formControlName="telephone">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Adresse" formControlName="adresse">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
  <mat-label>Type d'association</mat-label>
  <mat-select formControlName="type_association">
    <mat-option *ngFor="let type of typesAssociation" [value]="type">
  {{ type }}
</mat-option>

  </mat-select>
</mat-form-field>


                </div>
              </div>
<div class="row">
                <div class="col-md-6">
             <mat-form-field appearance="fill">
  <mat-label>Gouvernorat</mat-label>
  <mat-select formControlName="gouvernorat_id">
    <mat-option *ngFor="let g of gouvernorats" [value]="g.id">
      {{ g.nomGouvernorat }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="row">
  <div class="col-md-6">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Matricule fiscal de l'association" formControlName="matricule_fiscal">
    </mat-form-field>
  </div>

  <div class="col-md-6">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Relevé RIB de l'association" formControlName="releve_rib">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label>Carte d'identité fiscale</label>
    <input type="file" (change)="onCinFiscaleSelected($event)" class="form-control">
  </div>
</div>




                </div>
</div>

              <!-- Password Change (Optional) -->
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ancien mot de passe" type="password" formControlName="old_password">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nouveau mot de passe" type="password" formControlName="new_password">
                  </mat-form-field>
                </div>
              </div>

              <!-- Submit Button -->
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="profileForm.invalid">
                Mettre à jour le profil
              </button>
              <div class="clearfix"></div>
            </form>
            <!-- Success/Error Message -->
            <p *ngIf="message" class="alert alert-info">{{ message }}</p>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
