<div class="logo">
    <a [routerLink]="'/dashboard'" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/uiblogo.png"/>
        </div>
          Espace Admin 
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="'/dashboard'">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      
       <!-- ✅ Route for Managing Associations -->
       <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', 'gestion-associations']">
          <i class="material-icons">person</i>
          <p>Gestion des associations</p>
        </a>
      </li>
       <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', 'gestion-dons']">
          <i class="material-icons">person</i>
          <p>Gestion des dons</p>
        </a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', 'gestion-publications']">
          <i class="material-icons">person</i>
          <p>Gestion des publications</p>
        </a>
      </li>

   
      
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard','admin-valider-publication']">
          <i class="material-icons">content_paste</i>
          <p>Valider/refuser publication</p>
        </a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link"  [routerLink]="['/dashboard', 'admin-valider-don']">
          <i class="material-icons">content_paste</i>
          <p>Valider/refuser don</p>
        </a>
      </li>
      
    </ul>
  </div>