
<app-header-front></app-header-front>

<section class="participation-form" style="margin-top: 100px;">

  <h2>Effectuer un don</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="montant">Montant (DT)</label>
      <input type="number" formControlName="montant" placeholder="Ex: 100" />
      <div *ngIf="form.get('montant')?.invalid && form.get('montant')?.touched" class="error">
        Veuillez entrer un montant valide.
      </div>
    </div>
  
    <button type="submit" class="btn-yellow" [disabled]="form.invalid">Suivant</button>
  </form>
  
</section>
