<div class="logo">
    <a  class="simple-text"  [routerLink] = "['/dashboard-donator','welcome-donator']">
        <div class="logo-img"  >
            <img src="/assets/img/uiblogo.png"/>
        </div>
          donateur 
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link"  [routerLink] = "['/dashboard-donator','welcome-donator']" >
          <i class="material-icons">dashboard</i>
          <p>Espace</p>
        </a>
      </li>
      
      <!-- ✅ Manually add User Profile -->
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]= "['/dashboard-donator', 'modifier-profil']"> 
          <i class="material-icons">person</i>
          <p>Modifier profil</p>
        </a>
      </li>
  
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard-donator','mes-paiements']">
          <i class="material-icons">receipt</i>
          <p>Mes reçus de paiement</p>
        </a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard-donator','historique']">
          <i class="material-icons">content_paste</i>
          <p>Les historiques</p>
        </a>
      </li>
      
    </ul>
  </div>