<div class="logo">
    <a  [routerLink]="'/dashboard-association'" class="simple-text">
        <div class="logo-img">
            <img   src="/assets/img/uiblogo.png"/>
        </div>
          Association 
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="'/dashboard-association'">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      
      <!-- ✅ Manually add User Profile -->
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard-association', 'user-profile']">
          <i class="material-icons">person</i>
          <p>Modifier Profil</p>
        </a>
      </li>
      
  
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard-association', 'table-list']">
          <i class="material-icons">content_paste</i>
          <p>Gestion des dons</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard-association', 'table-publication']">
          <i class="material-icons">content_paste</i>
          <p>Gestion des publications</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link"   [routerLink]="['/dashboard-association', 'payment-recu']"   >
          <i class="material-icons">payments</i>
          <p>Paiements reçus</p>
        </a>
      </li>
      
    </ul>
  </div>
  